<%- include('header', {title:"Checkout : Vrbo | Book your vacation rentals : beach houses, cabins, condos & more", stylesheet:"/css/checkout.css"}) %>
    <header>
        <a href="/">
            <img class="icon" src="https://csvcus.homeaway.com/rsrcs/cdn-logos/5.8.0/sitename/vrbo/web/logo.svg" alt="Vrbo">
        </a>
        <span>
            <svg data-id="SVG_QUESTION__24" focusable="false" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 -4 24 24">
                <path fill="currentColor" stroke="none" fill-rule="evenodd" d="M13.02 16.747a1 1 0 11-2 0 1 1 0 012 0z" clip-rule="evenodd"></path>
                <path stroke="currentColor" d="M2.7 12a9.3 9.3 0 1118.6 0 9.3 9.3 0 01-18.6 0z" clip-rule="evenodd"></path>
                <path stroke="currentColor" d="M9.406 9.464a2.612 2.612 0 113.566 2.434 1.5 1.5 0 00-.953 1.397v.307"></path>
            </svg>
            Help
        </span>
    </header>

    <div class="checkoutBody">
        <span>Begin your booking</span>
        <div class="checkGrid" >
            <div class="checkoutLeft">
                <div>
                    <h3>Book with confidence. Guaranteed.</h3>
                    <p>You’re covered when you book and pay on . <b>Learn more.</b> </p>
                    <p><b>Act fast!</b> Price and availability may change. </p>
                    <p>Non-refundable for your trip dates</p>
                </div>
                <div id="formDiv">
                    <h3>Enter contact information</h3>
                    <form action="/success/<%= space._id %>">
                        <input name="fname" placeholder="First Name" type="text" required>
                        <input name="lname" placeholder="Last Name" type="text" required>
                        <input name="email" placeholder="Email" type="email" required>
                        <input name="mobile" placeholder="Mobile Phone" type="number" required>
                        <p>By clicking 'Agree & continue' you are agreeing to our Terms and Conditions, Privacy Policy, and to receive booking-related texts. Standard messaging rates may apply.</p>
                        <input id="formbtn" value="Agree & continue" type="submit">
                    </form>
                </div>
            </div>
            <div  class="checkoutRight">
                <img src=<%= space.images[0] %> alt="">
                <h3><%= space.name %></h3>
                <div id="checkdate" >
                    <span><b>Check in</b><br> <%= from %></span>
                    <span><b>Check out</b><br> <%= to %></span>
                </div>
                <div id="checkPrice">
                    <h3>₹<%= space.rate %> x <%= days %> = <%= space.rate*days %> </h3>
                    <h3>Tax = ₹<%= tax %> </h3>
                    <hr>
                    <h3>Total = ₹<%= total%> </h3>
                </div>
            </div>
        </div>
    </div>
</body>
</html>