<%- include('header', {title:"Vrbo", stylesheet:"/css/list.css" }) %>

    <div id="myHeader" class="topSticky">
        <%- include('headmenu') %>
        <div class="search" >
            <form action="">
                <input value=<%= place %> id="destination" placeholder="Search destination or property ID" value="United States of America" type="text" required>
                <span class="dateSpan">
                    <input value=<%= checkin %> placeholder="Check-in" id="txtFromDate" type="text" >
                    <input value=<%= checkout %> placeholder="Check-out" id="txtToDate" type="text">
                </span>
                <input value=<%= guests %> placeholder="Guests" id="guests" type="number">
               <input placeholder="Search" id="submitbtn" type="submit">
            </form>
        </div>
    </div>

    <div class="mainContent" >
        <div>
            <% spaces.forEach(space => { %> 
                <a href="/single/<%= space._id %>">
                    <div class="singleItem">
                        <img src=<%= space.images[0] %>  alt="">
                        <div id="singleTxt">
                            <div>
                                <span><%= space.type %> </span>
                                <br>
                                <span id="itemTitle"><%= space.name %> </span>
                                <br>
                                <span>Sleeps <%= space.bedroom %></span>
                            </div>
                            <div id="RatingPrice">
                                <p>⭐<%= space.rating %></p>
                                <span>
                                    <span id="freeCncl">Free cancellation up to 60 days before check-in</span>
                                    <br>
                                    <span id="pricespan">₹<%= space.rate %> avg/night</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </a>
                <hr style="width: 100%;">
            <% }) %> 

            <%- include('footer') %>
        </div>
        <div id="MapImg">
          <img src="https://i.ibb.co/HhVxFv6/Screenshot-2021-12-16-201439.png" alt="">
        </div>
    </div>
    
    
</body>
</html>
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>
<script>
    
    $( function() {
		$("#txtFromDate").datepicker({
	        numberOfMonths: 1,
	        minDate:0,
	        onSelect: function(selected) {
	          $("#txtToDate").datepicker("option","minDate", selected);
           $("#txtToDate").datepicker("setDate", '+1y');
	        }
	    });
        
	    $("#txtToDate").datepicker({ 
	        numberOfMonths: 1,
            minDate:0,
	        onSelect: function(selected) {
	           $("#txtFromDate").datepicker("option","maxDate", selected)
	        }
	    });  
	   
	});

    window.onscroll = function() {myFunction()};
    
    var header = document.getElementById("myHeader");
    var sticky = header.offsetTop;
    
    function myFunction() {
      if (window.pageYOffset > sticky) {
        header.classList.add("sticky");
      } else {
        header.classList.remove("sticky");
      }
    }

</script>