<%- include('header', {title:"Vrbo | Book your vacation rentals : beach houses, cabins, condos & more", stylesheet:"/css/single.css"}) %>

<%- include('headmenu') %>

    <div class="singleBody" >
        <div class="singleItem">
            <p><%= space.location %> </p>
            <h2><%= space.name %></h2>
            <div id="singleImages">
                <img id="img1" src=<%= space.images[0] %> alt="">
                <img id="img2" src=<%= space.images[1] %> alt="">
                <img id="img3" src=<%= space.images[2] %> alt="">
                <img id="img4" src=<%= space.images[3] %> alt="">
            </div>
            <div id="singleContent">
                <h1>About this rental</h1>
                <div id="singleSpeces">
                    <span> <b><%= space.type %></b><br> <%= space.area %> sq. ft  </span>
                    <span> <b><%= space.bedroom %> bedrooms</b> <br><%= space.bedroom %> beds </span>
                    <span> <b>Spaces</b> <br> <%= space.spaces %></span>
                </div>
                <div>
                    <p><%= space.body %></p>
                </div>

                <div>
                    <h2>Policies</h2>
                    <h3>Cancellation Policy</h3>
                    <ul>
                        <li>100% refund if you cancel at least 30 days before check-in</li>
                        <li>50% refund (minus the service fee) if you cancel at least 14 days before check-in</li>
                        <li>No refund if you cancel less than 14 days before check-in</li>
                    </ul>
                </div>
                <div >
                    <h1>Amenities</h1>
                    <div id="Amenities">
                        <span>
                            <p>Internet</p>
                            <p>Air Conditioning</p>
                            <p>TV</p>
                        </span>
                        <span>
                            <p>Satellite or cable</p>
                            <p>Children Welcome</p>
                            <p>parking</p>
                        </span>
                        <span>
                            <p>No Smoking</p>
                            <p>Heater</p>
                        </span>
                    </div>
                </div>
            </div>
            
        </div>
        <div id="checkSticky" >
            <div>
                <span id="priceTxt">₹<%= space.rate %></span> avg/night
            </div>
            <br>
            <h4>Add dates for total pricing</h4>
            <div id="singleForm">
                <form action="/checkout/<%= space._id %>">
                    <span>
                        <input name="from" class="input" id="txtFromDate" placeholder="Check In" type="text" required>
                        <input name="to" class="input" id="txtToDate" placeholder="Check Out" type="text" required>
                    </span>
                    <input name="guests" class="input" id="guests" placeholder="Guests" type="number" required>
                    <input placeholder="Request to Book" id="submitBtn" type="submit">
                </form>
            </div>

            <p> <b>Free cancellation</b> up to <b style="color: rgb(45, 45, 214);" >30 days before check-in</b></p>
            <div id="centerTxt" >
                <hr style="width: 100%;">
                <b style="color: rgb(45, 45, 214);">Contact host</b>
                <hr style="width: 100%;">
                <p><b>Property</b> # 1273906</p>
            </div>
        </div>
    </div>
    <hr style="width: 100%;">
    <%- include('footer') %>
</body>
</html>

<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>

<script> 
    $( function() {
		$("#txtFromDate").datepicker({
	        numberOfMonths: 1,
	        minDate:0,
	        onSelect: function(selected) {
	          $("#txtToDate").datepicker("option","minDate", selected);
           $("#txtToDate").datepicker("setDate", '+1y');
	        }
	    });
        
	    $("#txtToDate").datepicker({ 
	        numberOfMonths: 1,
            minDate:0,
	        onSelect: function(selected) {
	           $("#txtFromDate").datepicker("option","maxDate", selected)
	        }
	    });  
	});
</script>